[meta]
title = "Project Roadmap"
description = ""

[[sections]]
id = "v0.1.0"
title = "v0.1.0"
status = "current"
order = 0

[[sections]]
id = "v0.2.0"
title = "v0.2.0"
status = "pending"
order = 1

[[tasks]]
id = "documentation"
text = '"Create README and DESIGN_DOC"'
status = "done"
section = "v0.2.0"
order = 0
